[Unit]
Description=HTTP Flood Server
After=network-online.target

[Service]
ExecStart=/usr/bin/http-flood-server/http-flood-server

[Install]
WantedBy=multi-user.target

